

.modal-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 38, 38, 0.818);
    left:0px;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}

.modal-container{
    position: absolute;
    width: 80%;
    height: 80%;
    background-color:white; 
    border-radius: 10px;
}

.modal-body{
    padding: 40px 50px;
    display: flex;
}

.close-button{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    p{
        background-color: tomato;
        width: 20px;
        text-align: center;
        padding: 5px;
        border-radius: 50%
    }
   
}

