.blue-btn {
    background-color: #0B5ED7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.red-btn {
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}