.smart-phone-container{
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0px 70px;
}

.smart-phone-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
       font-family: 'Lato', sans-serif;
       text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
    }
    h5{
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
        font-size: 25px;
        font-weight: 500;
    }
}

.smart-phone-card-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:20px 30px;
}



