.visible{
    display: block;
}

.not-visible {
    display: none;
}

.smart-phone-card{
    margin-bottom: 10px
}

.smart-phone-card{
    border-radius: 8px;
    border:1px solid gray; 
    .smart-phone-card-img{
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    .info{
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
    }
    .info p:nth-child(2){
        color: rgb(0, 208, 255);
    }
}

.info p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}