.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-form {
    max-width: 620px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 60px;

    h2 {
        text-align: center;
    }

    div {
        // margin: 15px 15px;
    }

    .register p {
        text-align: center;
    }

    .error-message {
        color: rgb(246, 70, 70);
        text-transform: capitalize;
        visibility: hidden;
    }

    .error-message-visible {
        color: rgb(246, 70, 70);
        text-transform: capitalize;
        visibility: visible;
    }

}

label {
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}