nav{
   /* position: relative; */
}

.nav-container {
    padding-left: 60px;
    padding-right: 60px;
}

.logo-container{
    display: flex;
    align-items: center;
    color: wheat;
    font-size: 22px;
    letter-spacing: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

nav ul div{
    
}

.navbar-optinos{
    margin-left: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f0932b;
}